<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>    
    <add key="URLRequestProduct" value="http://www.e-lactancia.org/producto/{0}"/>
    <add key="URLRequestGroup" value="http://www.e-lactancia.org/grupo/{0}"/>
    <add key="URLRequestAlias" value="http://www.e-lactancia.org/sinonimo/{0}"/>
    <add key="URLRequestTrademark" value="http://www.e-lactancia.org/marca/{0}"/>
    <add key="URLRequestAlerts" value="http://www.e-lactancia.org/alertas"/>
    
    <add key="TotalProducts" value="1829"/>
    <add key="TotalGroups" value="235"/>
    <add key="TotalAlias" value="3275"/>
    <add key="TotalTrademarks" value="16271"/>
    <add key="EnglishId" value="458AD052-C8AC-486B-A945-FB3A85219448"/>
    <add key="SpanishId" value="7C0AFE0E-0B25-4AEA-8AAE-51CBDDE1B134"/>
    <add key="StringConnection" value="Data Source=DESKTOP-TG264EB;Database=LactafarmaDb;Trusted_Connection=true;MultipleActiveResultSets=true;"/>
    <add key="SaveLocationCSVGeneral" value="C:\CSVGeneral.txt"/>
    <add key="SaveLocationCSVDetail" value="C:\CSVDetail.txt"/>
  </appSettings>

</configuration>
