<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!--ESPAÑOL INICIO-->
    <add key="URLRequestProduct" value="http://e-lactancia.org/producto/{0}"/>
    <add key="URLRequestGroup" value="http://e-lactancia.org/grupo/{0}"/>
    <add key="URLRequestAlias" value="http://e-lactancia.org/alias_es/{0}"/>
    <add key="URLRequestTrademark" value="http://e-lactancia.org/marca/{0}"/>
    <add key="URLRequestAlerts" value="http://e-lactancia.org/alertas"/>
<!--ESPAÑOL FIN-->
    <!--INGLES INICIO-->
    <add key="URLRequestProduct_EN" value="http://e-lactancia.org/product/{0}"/>
    <add key="URLRequestGroup_EN" value="http://e-lactancia.org/group/{0}"/>
    <add key="URLRequestAlias_EN" value="http://e-lactancia.org/alias_en/{0}"/>
    <add key="URLRequestTrademark_EN" value="http://e-lactancia.org/trademark/{0}"/>
    <add key="URLRequestAlerts_EN" value="http://e-lactancia.org/alerts"/>
    <!--INGLES FIN-->
    <add key="TotalProducts" value="1676"/>
    <add key="TotalGroups" value="234"/>
    <add key="TotalAlias" value="1612"/>
    <add key="TotalTrademarks" value="9292"/>
    <add key="StringConnection" value="user id=sitecore;password=sitecore;Data Source=(local);Database=CRT"/>
    <add key="StringConnection_EN" value="user id=sitecore;password=sitecore;Data Source=(local);Database=CRT_EN"/>
    <add key="SaveLocationCSVGeneral" value="C:\CSVGeneral.txt"/> 
    <add key="SaveLocationCSVDetail" value="C:\CSVDetail.txt"/>
  </appSettings>

</configuration>
